@media screen and (max-width: 1024px) {
  .page-header__logo.c-link {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .page-header__nav{
    justify-content: center;
    flex-direction: column;
  }
  /***** MAIN *****************/
  .room-overview .gallery__item {
    flex: 50% 0 0;
  }
 
}

@media screen and (max-width: 784px) {

  /*************************************/
  /*           page header             */
  /************************************/

  .page-header {
    padding-bottom: 0;
  }

  .page-header__logo.c-link {
    align-self: flex-start;
    margin-bottom: 0;
  }


  .page-header__nav{
    flex-flow: column nowrap;

    border: none;
  }

  /*    page menu  styles  */

  .c-menu {
    padding-bottom: 10px;
  }

  .menu__list {
    flex-direction: column;
    align-self: flex-start;
    display: none;
    overflow: hidden;

  }

  .c-menu__item {
    border-left: 2px solid gray;
  }



  .c-menu__burger-toggle:checked ~ .menu__list {
    /*max-height: 400px;*/
    display: block;
  }



  .c-menu__burger-btn {
    position: absolute;
    top: 5px;
    right: 10px;

    width: 50px;
    height: 50px;
    padding: 10px 10px 10px;
    margin-right: 10px;
    align-self: flex-start;

    background-color: burlywood ;
    text-align: center;
    overflow: hidden;
    font-size: 0;

  }

  .c-menu__burger-btn::after {
    content: " ";
    display:block;
    width: 32px;
    height: 32px;

    background: url("../img/sprite.svg")  -65px 0  no-repeat;
  }
  .c-menu__burger-toggle:checked + .c-menu__burger-btn::after {
    background: url("../img/sprite.svg")  0 0  no-repeat;
  }

  .c-menu-dropdown {
    position: static;

    padding-left: 30px;
  }

  /***** MAIN *****************/

  .promo-slider {
    display: none;
  }
  .room-overview .gallery__item {
    flex:  0 0 100%;
  }
 /* .room-overview .image-fluid {
    width: 100%;
  }*/

  .features .card {
    flex:  0 0 100%;
  }

  .response-image {
    display: none;
  }
  .response-text {
    width: 100%;
  }

  .response-text blockquote{
    font-size: 14px;
  }

  .response .slider {
    flex:  0 0 100%;
  }

  .promo h1 {
    font-size: 32px;
  }

  /**********************************/
  /********* CONTACTS PAGE *********/
  /*********************************/

  /******* CONTACTS DATA *********/

  .form-col_half {
    display: inline-block;
    width: 100%;
    margin-right: 0;
  }

  .response-form {
    width: 90%;
  }
  /***** FOOTER *****************/
  .page-footer__inner {
    flex-flow: column nowrap;
    align-items: stretch;
  }

  .page-footer__col_1_3 {
    /*width: 50%;*/
    flex-basis: 100%;
    font-size: 13px;
    margin-bottom: 10px;
  }

  /******************************************/
  /************* BOOKING PAGE ***************/
  /******************************************/

  .form-col_third {
    flex: 0 0 100%;
  }
}